@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: #000000;
}

#lista-container {
    text-align: center;
    margin: 70px auto 0 auto;
    width: 300px;
}

#texto-entrada {
    margin-bottom: 40px;
}

#texto-entrada > h2 {
    margin-bottom: 25px;
    font-size: 5vw;
    color: orange;
}

#texto-entrada input {
    outline: none;
    border: 1px solid orange;
    padding: 10px;
    height: 45px;
    color: #fff;
    background-color: #4b3100;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#texto-entrada input::placeholder {
    color: #c760006b;
}

#texto-entrada input:focus {
    background-color: #312000;
}

#texto-entrada button {
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border: 1px solid yellow;
    background-color: #c76000;
    font-size: 12px;
    cursor: pointer;
    transition: .5s;
    position: absolute;
    height: 45px;
    outline: none;
}

#texto-entrada button:hover {
    background-color: #ce9938;
    color: #4b3100;
}

/* Areas das tarefas */

#container-listar-tarefas > h2 {
    color: orange;
    margin-bottom: 50px;
}

#lista-tarefas {
    list-style: none;
}

#lista-tarefas li {
    background-color: #4b3100;
    position: relative;
    border-bottom: 1px solid orangered;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    color: orangered;
    padding: 12px;
    transition: .5s;
    margin-bottom: 12px;
}

#lista-tarefas span {
    font-size: 13px;
}

.concluir-tarefa {
    display: inline;
    position: absolute;
    right: 27px;
    top: 0;
    padding: 10px;
    transition: .5s;
    height: 56%;
    font-size: 17px;
    font-weight: bold;
}

.deletar-tarefa {
    display: inline;
    position: absolute;
    right: 0px;
    top: 0;
    padding: 10px;
    transition: .5s;
    border-top-right-radius: 10px;
    height: 56%;
    font-size: 17px;
    font-weight: bold;
}

.concluir-tarefa:hover {
    background-color: greenyellow;
    color: #000000;
}

.deletar-tarefa:hover {
    background-color: red;
    color: #fff;
}

.hide {
    display: none;
}

#lista-tarefas li.concluir {
    text-decoration: line-through;
    background-color: burlywood;
}